.slider {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  margin: 0 14px 35px;
  border: 1px solid #bee3db;
  border-radius: 8px;

  @media (min-width: 730px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 590px) {
    flex-wrap: nowrap;
  }

  &__wrapper {
    margin: 14px 14px 24px;
    width: 100%;

    &--horizontal {
      width: 100%;
    }

    &--vertical {
      min-height: 200px;

      @media (min-width: 590px) {
        display: flex;
        justify-content: center;
      }
    }
  }

  &__panel {
    width: 100%;
    padding: 14px;
    border-radius: 0 0 7px 7px;
    background-color: #bee3db;

    @media (min-width: 590px) {
      max-width: 235px;
      border-radius: 0 7px 7px 0;
    }
  }
}
