.footer {
  width: 100%;
  padding: 30px 0;
  background-color: #555b6e;
  color: white;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 14px;
    max-width: 700px;

    @media (min-width: 730px) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;

    & span:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__link {
    color: white;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.4;
    }

    &--telegram {
      display: inline-flex;

      &::after {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        margin-left: 6px;
        background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 24 24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' fill='%23039be5' r='12'/%3E%3Cpath d='m5.491 11.74 11.57-4.461c.537-.194 1.006.131.832.943l.001-.001-1.97 9.281c-.146.658-.537.818-1.084.508l-3-2.211-1.447 1.394c-.16.16-.295.295-.605.295l.213-3.053 5.56-5.023c.242-.213-.054-.333-.373-.121l-6.871 4.326-2.962-.924c-.643-.204-.657-.643.136-.953z' fill='%23fff'/%3E%3C/svg%3E");
      }
    }
  }
}
