mixin footer()
  footer.footer
    .footer__wrapper
      .footer__year 2020 - 2021
      .footer__description
        span Дизайн и реализация:
          a(
            class="footer__link footer__link--telegram"
            href="tg://resolve?domain=@Psarew"
          ) Ванёк Псарёв
        span Создано для
          a(
            class="footer__link"
            href="https://www.metalamp.io/"
          ) MetaLamp