.input-max {
  &__label {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  &__input {
    width: 80px;
    margin-left: 12px;
    padding: 2px 8px;
    background-color: #faf9f9;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
}
