mixin input-max()
  .input-max
    label(
          class= "input-max__label"
        ) Max value:
          input(
            class= "input-max__input js-input-max__input"
            type= "number"
          )