.header {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin-bottom: 40px;
  background-color: #555b6e;

  &__title {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }
}
