html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: #faf9f9;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
