extends ../layout/base
include ../includes/slider/slider

block title
  title My First Slider

block content

    main.main
      +slider({classMod: "1"})
      +slider({classMod: "2"})
      +slider({classMod: "3"})
      +slider({classMod: "4"})

