extends ../layout/base
include ../includes/slider/slider

block title
  title My First Slider

block content

    main.main
      .js-main__slider
        +slider()
      .js-main__slider
        +slider()
      .js-main__slider
        +slider()
      .js-main__slider
        +slider()

