extends ../layout/base
include ../includes/slider/slider

block title
  title My First Slider

block content

    main.main
      +slider({id: "1"})
      +slider({id: "2"})
      +slider({id: "3"})
      +slider({id: "4"})

