mixin input-tooltips()
  label(
        class= "input-tooltips__label"
      ) Tooltips:
        input(
          class= "input-tooltips__input js-input-tooltips__input"
          type= "checkbox"
        )